.Rproj.user
.Rhistory
.RData
.Ruserdata
SINASC_2015.csv
Mortalidade_Geral_2015.csv
Variáveis - Projeto - Tarefa 7 da Etapa 2 (1).pdf
variaveis_tarefa7.txt
dicionario_sim.txt
Aula 17 -  11_05.pdf
população residente censo 2010 - UF e municípios - total e por sexo - SIDRA - tabela_1552.csv
população residente censo 2010 - por faixa etária -  UF - SIDRA - tabela_1552.csv
população residente censo 2010 - por faixa etária e sexo -  municípios - SIDRA - tabela_1552.csv
população residente estimada - UF e municípios - 2015 - SIDRA - tabela_6579.csv
